<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Next workout</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>

<body class="bg-gray-100">
  <div class="overflow-x-auto mx-auto max-w-[600px]">
    {% csrf_token %}
    {% include "new_superset.html" with superset=superset %}
    <form method="post">
      {% csrf_token %}
      <div class="flex justify-center mt-8">
        <a href="{% url 'index' %}" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded mr-4">
          Back
        </a>
        {% if needs_save %}
        <button type="submit" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
          Save
        </button>
        {% else %}
        <a href="{% url 'preview_category' category %}" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded mr-4">
          Start
        </a>
        {% endif %}
      </div>
      <input type="hidden" name="selected_exercises" value="{{ selected_exercises|safe }}">
    </form>
    <script>
      form = document.querySelector("form")
      function reorder(num, direction) {
        selectedExercises = JSON.parse(form.selected_exercises.value)
        swap1 = selectedExercises[num]
        swap2 = selectedExercises[num + direction]
        selectedExercises[num] = swap2
        selectedExercises[num + direction] = swap1
        // Update the query parameter using URLSearchParams
        const params = new URLSearchParams(window.location.search)
        params.set("selected_exercises", JSON.stringify(selectedExercises))
        window.location.search = params.toString()
      }
    </script>
  </div>
</body>

</html>
