<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Next workout</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>

<body class="bg-gray-100">
  <div class="overflow-x-auto mx-auto max-w-[600px]">
    <form method="post">
      {% csrf_token %}
      {% for superset in supersets %}
      {% include "new_superset.html" with superset=superset %}
      {% endfor %}
      <div class="flex justify-center mt-8">
        <a href="/" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded mr-4">
          Back
        </a>
        <button type="submit" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
          Submit
        </button>
      </div>
    </form>
  </div>
</body>

</html>
