<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Training</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>

<body class="bg-gray-100">
  <div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
    <div class="relative py-3 sm:max-w-xl sm:mx-auto">
      <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
        <div class="flex justify-between items-center mb-4">
          <h1 class="text-2xl font-semibold">{{ exercise.name }}</h1>
          <h2 class="text-gray-600">{{ exercise.exercise.get_category_display }} - Set {{ set_num}}</h2>
        </div>
        <table class="table-fixed w-full border border-gray-200 mb-4">
          <thead class="rounded-lg bg-gray-200">
            <tr>
              <th class="px-4 py-2">Today</th>
              <th class="px-4 py-2">
                {% if last_workout %}
                {{ last_workout.date|timesince }} Ago
                {% else %}
                --
                {% endif %}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="px-4 py-2 align-top w-1/2">
                <ul class="list-decimal list-inside">
                  {% for set in today_sets %}
                  <li>{{ set }} </li>
                  {% endfor %}
                </ul>
              </td>
              <td class="px-4 py-2 align-top text-gray-500 border-l border-gray-200 w-1/2">
                <ul class="list-decimal list-inside space-y-1">
                  {% for set in last_sets %}
                  <li>{{ set }} </li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="space-y-4">
          <form method="post">
            <div class="bg-gray-100 p-4 rounded-lg">
              <form method="post">
                <div class="mb-4">
                  {% csrf_token %}
                  <input type="hidden" name="next_url" value="{{ next_url }}" />
                  {% if current_set %}
                  <input type="hidden" name="existing_set" value="{{ current_set.pk }}" />
                  {% endif %}
                  <label class="block text-gray-700 font-bold mb-2" for="reps">Reps</label>
                  <input
                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    name="reps" type="number" placeholder="Enter reps"
                    {% if current_set %}value="{{ current_set.reps }}"{% endif %}>
                </div>
                <div class="mb-4">
                  <label class="block text-gray-700 font-bold mb-2" for="pounds">Pounds</label>
                  <input
                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    name="pounds" type="number" placeholder="Enter pounds"
                    {% if current_set %}value="{{ current_set.pounds }}"{% endif %}>
                </div>
                <div class="mb-4">
                  <label class="block text-gray-700 font-bold mb-2" for="note">Note</label>
                  <textarea
                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    name="note" rows="2" placeholder="Enter note"></textarea>
                </div>
                <div class="flex items-center justify-between">
                  <a href="{{ prev_url | safe }}"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Back</a>
                  {% if next_url %}
                  <a href="{{ next_url | safe }}"
                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Skip</a>
                  {% endif %}
                  <input
                    class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit" name="action" value="Next">
                </div>
              </form>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
